    <div class="col-md-5 col-md-offset-3 ">
        <div class="well">
            <form class="form-horizontal" role="form" ng-controller="MyTwiPostCreateController">
                <h4>What's New</h4>
                <div class="form-group" style="padding: 14px;">
                    <textarea id="twiPost-content" class="form-control" ng-model="twiPostForm.content" placeholder="Update your status"></textarea>
                </div>

                <div class="form-group" style="padding: 14px;">
                    <h4>Tags</h4>
                    <input id="twiPost-tag" class="form-control" ng-model="twiPostForm.tagString" type="text" placeholder="comma seperated strings"/>
                </div>

                <div class="form-group">
                    <button ng-click="cancel()" class="btn pull-right">Cancel</button>
                    <button ng-click="submit()" class="btn btn-success pull-right">Post</button>
                </div>

            </form>
        </div>
    </div>
    
    